# Files
*.zip
*.mp4
*.mp4
*.pt

# Folders
dataset_*
data
dataset*
split_data*
runs
__pycache__
videos
raw_data
vid_*

# Environment variables
fatigue_sense.conf
.env

# Jupyter Notebook
PERSONAL.ipynb